.landing-container {
  background-image: url(./assets/android-chrome-512x512.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 70%);
  background-blend-mode: darken;
  overflow: hidden;
}

/* .cover-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(3, 22, 29, 0.7);
} */
.main-content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /* background-color: blue; */
}

.landing-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transform-origin: center center;
  z-index: -1;
  object-fit: cover;
  animation: rotate 10s linear infinite;
}

.landing-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* Adjust the opacity to darken the image */
  z-index: 0;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
