@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.post-content {
  max-width: 100%;
  word-wrap: break-word;
}
.post-content p {
  font-size: 1rem;
}

.post-content h1 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 800;
}
.post-content h2 {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
}
.post-content h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
.post-content ol {
  list-style: lower-alpha;
  line-height: 2rem;
  padding: 1rem;
}
.post-content ul {
  list-style: circle;
  line-height: 2rem;
  padding: 1rem;
}
.post-content a {
  color: BLUE;
  text-decoration: underline;
}
.post-content {
  background-color: rgb(210, 255, 255);
}
/* .top-projects {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
} */
.all-articles {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.all-researches {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.my-articles {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.my-researches {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.home-container {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
