@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}
.ql-editor {
  font-size: 1.05rem;
}
.post-content {
  max-width: 100%;
  word-wrap: break-word; /* or overflow-wrap: break-word; */
}

.post-content p {
  margin-bottom: 0.5rem;
}
.post-content h1 {
  font-size: 2rem;
  font-weight: 600;
  font-family: sans-serif;
  color: rgb(255, 0, 255);
  margin-bottom: 2rem;
  text-align: center;
  padding: 1rem 0;

  border-bottom: 2px solid rgb(255, 0, 255);
}
.post-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  color: #ffbf00;
  margin-bottom: 2rem;
  border-bottom: 2px dashed #ffbf00;
  width: -moz-fit-content;
  width: fit-content;

  padding: 0.5rem 0;
}
.post-content h3 {
  font-size: 1.17rem;
  font-weight: 600;
  font-family: sans-serif;

  color: rgb(153, 255, 0);
}

.top-projects {
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
